In [4]:
import pandas as pd

# 데이터 설명 : 2018년도 성인의 건강검 진데이터 (종속변수 : 흡연상태 1- 흡연, 0-비흡연 )

In [3]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv")

x_train.shape, y_train.shape, x_test.shape

((44553, 26), (44553, 2), (11139, 26))

In [5]:
x_train.head()

,ID,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,126.0,12.9,1.0,0.7,18.0,19.0,27.0,Y,0.0,Y
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,127.0,12.7,1.0,0.6,22.0,19.0,18.0,Y,0.0,Y
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,151.0,15.8,1.0,1.0,21.0,16.0,22.0,Y,0.0,N
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,226.0,14.7,1.0,1.0,19.0,26.0,18.0,Y,0.0,Y
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,107.0,12.5,1.0,0.6,16.0,14.0,22.0,Y,0.0,N

In [6]:
y_train.head()

   ID  흡연상태
0   0     0
1   1     0
2   2     1
3   3     0
4   4     0

In [7]:
x_train.isna().sum()

ID             0
성별코드           0
연령대코드(5세단위)    0
신장(5Cm단위)      0
체중(5Kg단위)      0
허리둘레           0
시력(좌)          0
시력(우)          0
청력(좌)          0
청력(우)          0
수축기혈압          0
이완기혈압          0
식전혈당(공복혈당)     0
총콜레스테롤         0
트리글리세라이드       0
HDL콜레스테롤       0
LDL콜레스테롤       0
혈색소            0
요단백            0
혈청크레아티닌        0
(혈청지오티)AST     0
(혈청지오티)ALT     0
감마지티피          0
구강검진수검여부       0
치아우식증유무        0
치석             0
dtype: int64

In [8]:
drop_col = ['ID', '구강검진수검여부']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)

In [10]:
y = y_train.흡연상태

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(
    x_train_dummies, y, test_size=0.33, random_state=42
)

In [13]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=23)

In [14]:
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=23)

In [23]:
X_train_pd = rf.predict(X_train)
X_test_pd = rf.predict(X_test)

X_train_prob = rf.predict_proba(X_train)[:, 1]
X_test_prob = rf.predict_proba(X_test)[:, 1]

x_test_dummies_pd = rf.predict(x_test_dummies)
x_test_dummies_prob = rf.predict_proba(x_test_dummies)[:, 1]

In [19]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(Y_test, X_test_pd)

0.7593688362919132

In [24]:
x_test_dummies_prob

array([0.68, 0.11, 0.88, ..., 0.02, 0.11, 0.86])

### 데이터 설명 : 비행탑승 경험 만족도 (satisfaction 컬럼 : ‘neutral or dissatisfied’ or satisfied ) (83123, 24) shape

In [49]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv")

x_train.shape, y_train.shape, x_test.shape

((83123, 24), (83123, 2), (20781, 24))

In [26]:
x_train.isna().sum()

ID                                       0
Gender                                   0
Customer Type                            0
Age                                      0
Type of Travel                           0
Class                                    0
Flight Distance                          0
Inflight wifi service                    0
Departure/Arrival time convenient        0
Ease of Online booking                   0
Gate location                            0
Food and drink                           0
Online boarding                          0
Seat comfort                             0
Inflight entertainment                   0
On-board service                         0
Leg room service                         0
Baggage handling                         0
Checkin service                          0
Inflight service                         0
Cleanliness                              0
Departure Delay in Minutes               0
Arrival Delay in Minutes               256
id                                   83123
dtype: int64

In [27]:
x_train.head()

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

In [30]:
x_train['Arrival Delay in Minutes'].fillna(x_train['Arrival Delay in Minutes'].mean(), inplace=True)
x_train['Arrival Delay in Minutes'].isna().sum()

0

In [35]:
x_test['Arrival Delay in Minutes'].fillna(x_test['Arrival Delay in Minutes'].mean(), inplace=True)

In [31]:
x_train.isna().sum()

ID                                       0
Gender                                   0
Customer Type                            0
Age                                      0
Type of Travel                           0
Class                                    0
Flight Distance                          0
Inflight wifi service                    0
Departure/Arrival time convenient        0
Ease of Online booking                   0
Gate location                            0
Food and drink                           0
Online boarding                          0
Seat comfort                             0
Inflight entertainment                   0
On-board service                         0
Leg room service                         0
Baggage handling                         0
Checkin service                          0
Inflight service                         0
Cleanliness                              0
Departure Delay in Minutes               0
Arrival Delay in Minutes                 0
id                                   83123
dtype: int64

In [37]:
drop_col = ['ID', 'id']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)

In [38]:
x_test_drop.isna().sum()

Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

In [39]:
y_train.satisfaction.unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [50]:
from sklearn.preprocessing import LabelEncoder
y_train['target'] = LabelEncoder().fit_transform(y_train.satisfaction)

In [51]:
y_train

           ID             satisfaction  target
0           0  neutral or dissatisfied       0
1           2  neutral or dissatisfied       0
2           3                satisfied       1
3           4                satisfied       1
4           5                satisfied       1
...       ...                      ...     ...
83118  103893  neutral or dissatisfied       0
83119  103898  neutral or dissatisfied       0
83120  103899                satisfied       1
83121  103901                satisfied       1
83122  103903  neutral or dissatisfied       0

[83123 rows x 3 columns]

In [52]:
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]
y = y_train.target

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(
    x_train_dummies, y, test_size=0.33, random_state=42
)

In [54]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, Y_train)

RandomForestClassifier()

In [57]:
X_train_pd = rf.predict(X_train)
X_test_pd = rf.predict(X_test)

X_train_prob = rf.predict_proba(X_train)[:, 1]
X_test_porb = rf.predict_proba(X_test)[:, 1]

x_test_dummies_pd = rf.predict(x_test_dummies)
x_test_dummies_prob = rf.predict_proba(x_test_dummies)[:, 1]

In [60]:
x_test_dummies_pd

array([0, 0, 0, ..., 1, 0, 0])