In [1]:
import pandas as pd

# 데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_test.csv")

In [3]:
x_train.head()

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,0,8.662710,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103
1,1,NaN,226.270824,15380.124079,6.661474,NaN,392.558205,14.083110,50.286395,4.516870
2,2,7.583770,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289
3,3,6.584813,182.375456,24723.106296,6.238920,NaN,414.350751,17.582615,78.213738,4.404132
4,4,7.179864,180.854211,10859.553752,8.263503,341.302486,358.056264,12.065317,83.329918,3.878447

In [6]:
x_train.isna().sum(), x_test.isna().sum(), y_train.isna().sum()

(ID                   0
 ph                 395
 Hardness             0
 Solids               0
 Chloramines          0
 Sulfate            617
 Conductivity         0
 Organic_carbon       0
 Trihalomethanes    132
 Turbidity            0
 dtype: int64,
 ID                   0
 ph                 107
 Hardness             0
 Solids               0
 Chloramines          0
 Sulfate            152
 Conductivity         0
 Organic_carbon       0
 Trihalomethanes     38
 Turbidity            0
 dtype: int64,
 ID            0
 Potability    0
 dtype: int64)

In [21]:
for x, v in x_train.isna().sum().items():
    if v != 0:
        print(x_train[x].mean())
        x_train[x].fillna(x_train[x].mean(), inplace=True)
        x_test[x].fillna(x_test[x].mean(), inplace=True)

x_train.isna().sum(), x_test.isna().sum()

7.059706555058315
333.12845187182995
66.36231333912495

(ID                 0
 ph                 0
 Hardness           0
 Solids             0
 Chloramines        0
 Sulfate            0
 Conductivity       0
 Organic_carbon     0
 Trihalomethanes    0
 Turbidity          0
 dtype: int64,
 ID                 0
 ph                 0
 Hardness           0
 Solids             0
 Chloramines        0
 Sulfate            0
 Conductivity       0
 Organic_carbon     0
 Trihalomethanes    0
 Turbidity          0
 dtype: int64)

In [22]:
drop_col = ['ID']

x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)

In [24]:
y = y_train.Potability

In [25]:
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

### 데이터 설명 : 투약하는 약을 분류 (종속변수 :Drug)

In [26]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_test.csv")

In [28]:
x_train.isna().sum(), x_test.isna().sum()

(ID             0
 Age            0
 Sex            0
 BP             0
 Cholesterol    0
 Na_to_K        0
 dtype: int64,
 ID             0
 Age            0
 Sex            0
 BP             0
 Cholesterol    0
 Na_to_K        0
 dtype: int64)

In [30]:
y_train.isna().sum()

ID      0
Drug    0
dtype: int64

### 데이터 설명 : 사기회사 분류 (종속변수 : Risk 1: 사기 , 0 : 정상)

In [31]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_test.csv")

In [32]:
x_train.isna().sum()

ID                0
Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       1
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
dtype: int64

In [33]:
x_test.isna().sum()

ID                0
Sector_score      0
LOCATION_ID       0
PARA_A            0
Score_A           0
Risk_A            0
PARA_B            0
Score_B           0
Risk_B            0
TOTAL             0
numbers           0
Score_B.1         0
Risk_C            0
Money_Value       1
Score_MV          0
Risk_D            0
District_Loss     0
PROB              0
RiSk_E            0
History           0
Prob              0
Risk_F            0
Score             0
Inherent_Risk     0
CONTROL_RISK      0
Detection_Risk    0
Audit_Risk        0
dtype: int64

In [38]:
x_train[x_train.Money_Value.isna()]

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
38,53,55.57,4,0.23,0.2,0.046,0.0,0.2,0.0,0.23,...,0.2,0.4,0,0.2,0.0,2.0,1.446,0.4,0.5,0.2892

In [39]:
x_test[x_test.Money_Value.isna()]

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
43,219,55.57,4,0.23,0.2,0.046,0.0,0.2,0.0,0.23,...,0.2,0.4,0,0.2,0.0,2.0,1.446,0.4,0.5,0.2892

In [41]:
y_train[y_train.ID == 53]

    ID  Risk
38  53     0

In [46]:
x_train.Money_Value.fillna(0.0, inplace=True)
x_test.Money_Value.fillna(0.0, inplace=True)

In [47]:
x_train.isna().sum(), x_test.isna().sum()

(ID                0
 Sector_score      0
 LOCATION_ID       0
 PARA_A            0
 Score_A           0
 Risk_A            0
 PARA_B            0
 Score_B           0
 Risk_B            0
 TOTAL             0
 numbers           0
 Score_B.1         0
 Risk_C            0
 Money_Value       0
 Score_MV          0
 Risk_D            0
 District_Loss     0
 PROB              0
 RiSk_E            0
 History           0
 Prob              0
 Risk_F            0
 Score             0
 Inherent_Risk     0
 CONTROL_RISK      0
 Detection_Risk    0
 Audit_Risk        0
 dtype: int64,
 ID                0
 Sector_score      0
 LOCATION_ID       0
 PARA_A            0
 Score_A           0
 Risk_A            0
 PARA_B            0
 Score_B           0
 Risk_B            0
 TOTAL             0
 numbers           0
 Score_B.1         0
 Risk_C            0
 Money_Value       0
 Score_MV          0
 Risk_D            0
 District_Loss     0
 PROB              0
 RiSk_E            0
 History           0
 Prob              0
 Risk_F            0
 Score             0
 Inherent_Risk     0
 CONTROL_RISK      0
 Detection_Risk    0
 Audit_Risk        0
 dtype: int64)

### 데이터 설명 : 센서데이터로 동작 유형 분류 (종속변수 pose : 0 ,1 구분)

In [48]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

In [51]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 65 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         4650 non-null   int64
 1   motion_0   4650 non-null   float64
 2   motion_1   4650 non-null   float64
 3   motion_2   4650 non-null   float64
 4   motion_3   4650 non-null   float64
 5   motion_4   4650 non-null   float64
 6   motion_5   4650 non-null   float64
 7   motion_6   4650 non-null   float64
 8   motion_7   4650 non-null   float64
 9   motion_8   4650 non-null   float64
 10  motion_9   4650 non-null   float64
 11  motion_10  4650 non-null   float64
 12  motion_11  4650 non-null   float64
 13  motion_12  4650 non-null   float64
 14  motion_13  4650 non-null   float64
 15  motion_14  4650 non-null   float64
 16  motion_15  4650 non-null   float64
 17  motion_16  4650 non-null   float64
 18  motion_17  4650 non-null   float64
 19  motion_18  4650 non-null   float64
 20  motion_19  4650 non-null   float64
 21  motion_20  4650 non-null   float64
 22  motion_21  4650 non-null   float64
 23  motion_22  4650 non-null   float64
 24  motion_23  4650 non-null   float64
 25  motion_24  4650 non-null   float64
 26  motion_25  4650 non-null   float64
 27  motion_26  4650 non-null   float64
 28  motion_27  4650 non-null   float64
 29  motion_28  4650 non-null   float64
 30  motion_29  4650 non-null   float64
 31  motion_30  4650 non-null   float64
 32  motion_31  4650 non-null   float64
 33  motion_32  4650 non-null   float64
 34  motion_33  4650 non-null   float64
 35  motion_34  4650 non-null   float64
 36  motion_35  4650 non-null   float64
 37  motion_36  4650 non-null   float64
 38  motion_37  4650 non-null   float64
 39  motion_38  4650 non-null   float64
 40  motion_39  4650 non-null   float64
 41  motion_40  4650 non-null   float64
 42  motion_41  4650 non-null   float64
 43  motion_42  4650 non-null   float64
 44  motion_43  4650 non-null   float64
 45  motion_44  4650 non-null   float64
 46  motion_45  4650 non-null   float64
 47  motion_46  4650 non-null   float64
 48  motion_47  4650 non-null   float64
 49  motion_48  4650 non-null   float64
 50  motion_49  4650 non-null   float64
 51  motion_50  4650 non-null   float64
 52  motion_51  4650 non-null   float64
 53  motion_52  4650 non-null   float64
 54  motion_53  4650 non-null   float64
 55  motion_54  4650 non-null   float64
 56  motion_55  4650 non-null   float64
 57  motion_56  4650 non-null   float64
 58  motion_57  4650 non-null   float64
 59  motion_58  4650 non-null   float64
 60  motion_59  4650 non-null   float64
 61  motion_60  4650 non-null   float64
 62  motion_61  4650 non-null   float64
 63  motion_62  4650 non-null   float64
 64  motion_63  4650 non-null   float64
dtypes: float64(64), int64(1)
memory usage: 2.3 MB

### 데이터 설명 : 당뇨여부 판단하기 (종속변수 Outcome : 1 당뇨 , 0 :정상)

In [52]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_test.csv")

In [54]:
x_test.isna().sum()

ID                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64