In [1]:
import pandas as pd

### 데이터 설명 : 학생성적 예측 (종속변수 :G3)

In [2]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")

In [3]:
x_train.shape, y_train.shape, x_test.shape

((678, 33), (678, 2), (366, 33))

In [4]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB

In [5]:
x_train.isna().sum()

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

In [6]:
x_train.head()

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

In [7]:
y_train.head()

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [9]:
drop_col = ['StudentID']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)

In [10]:
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]
y = y_train.G3

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(
    x_train_dummies, y, test_size=0.2, random_state=2023
    )

In [27]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=2023)
rfr.fit(X_train, Y_train)

RandomForestRegressor(random_state=2023)

In [28]:
X_train_pd = rfr.predict(X_train)
X_test_pd = rfr.predict(X_test)

In [71]:
X_train_pd

array([14.85, 13.16, 10.12,  8.21,  5.94,  7.96, 11.43, 11.02,  8.01,
       12.94, 13.9 , 11.12, 14.17, 13.84,  1.17, 10.92, 15.65, 17.28,
        9.51,  8.99, 12.92, 10.07, 16.03,  8.04, 12.28, 11.01, 18.54,
       15.72, 15.18, 15.38, 15.29, 13.05,  8.55, 14.77, 12.12, 12.31,
       12.17,  9.82, 12.06,  2.68, 11.92, 14.07,  7.96, 10.91, 10.76,
       16.01, 14.92, 11.05, 10.7 , 12.13,  7.18, 14.76,  9.42, 10.3 ,
        6.71, 17.9 ,  9.97, 12.31,  9.18, 10.3 ,  0.  ,  0.67, 13.76,
        8.5 ,  9.79, 10.81, 13.8 ,  7.8 ,  9.7 , 13.09, 13.56, 17.8 ,
       12.56,  9.86,  7.82, 16.92, 10.07,  8.35, 13.01,  9.48, 10.78,
       10.11, 14.14, 10.23, 14.38, 10.5 ,  9.93, 12.2 ,  8.96, 10.85,
       12.18, 15.14, 10.67, 11.79, 12.81, 11.55, 10.31, 10.1 , 11.  ,
       15.25, 10.12, 12.6 , 15.48, 12.75, 10.87, 17.9 , 15.23,  0.48,
       14.97,  7.45,  8.9 , 12.17,  7.71,  2.51,  9.65,  8.7 , 12.36,
       11.02,  5.33, 11.04,  7.89, 14.18,  9.57, 10.01, 10.43, 12.35,
       10.97, 15.97, 13.11, 12.87, 12.78, 10.94,  9.84, 13.57,  8.31,
        2.04, 11.03, 12.41, 14.27, 12.34, 12.58,  8.07,  7.71,  9.25,
       10.29, 16.16, 10.05, 14.75,  9.29,  8.67, 16.49, 14.3 ,  3.53,
        9.13, 11.01, 12.14, 12.51,  9.94, 10.09, 13.01,  7.02, 10.89,
        6.08, 14.18, 19.22,  8.43,  1.13,  0.16, 15.06, 10.76,  8.98,
       10.  , 12.27, 12.19, 10.96, 10.96, 13.28, 10.89,  9.51, 13.34,
        9.58, 16.75, 11.56, 10.86, 10.94, 12.37, 13.32, 10.82, 12.3 ,
       10.88, 16.06,  9.59, 11.14, 12.95, 12.95,  8.44, 13.53, 10.09,
       14.31,  9.95, 13.32, 13.1 , 14.22,  6.1 , 12.86,  9.38,  9.98,
       17.12, 17.11, 10.88, 13.66, 14.75, 16.22, 10.03, 13.12,  9.12,
       13.01, 12.12, 10.87, 10.34,  2.26, 10.36, 10.15,  0.  , 15.47,
        9.6 , 13.25, 11.1 ,  8.36, 16.63, 15.26, 13.04,  6.48, 10.98,
       13.62, 16.58, 15.95, 12.88, 17.79, 11.42, 16.65,  9.  ,  1.19,
       12.84, 14.78, 10.42, 13.15, 15.95, 10.07, 13.75, 10.11, 17.11,
       11.01,  0.42, 10.33,  7.73, 12.15, 12.06, 14.14, 10.52, 16.05,
       14.07,  0.38, 13.72, 13.43, 10.8 ,  9.39, 15.23,  0.16, 11.48,
       11.56, 11.66, 10.39, 17.82, 11.11, 11.51, 12.22, 12.22,  8.57,
       12.07, 15.29,  6.23, 18.08, 11.32, 12.29,  6.03, 13.42, 16.  ,
       15.89, 14.35, 15.94,  0.08, 17.84, 10.85, 16.22, 12.79, 16.56,
       11.66,  8.55, 10.89, 16.02, 10.24, 10.28, 11.11, 16.14,  8.21,
       13.2 ,  7.7 , 11.14, 15.94, 10.08, 10.8 , 16.65,  8.3 , 10.58,
       14.23, 11.04,  0.4 , 11.05, 14.12, 13.46, 10.14, 15.12, 14.19,
       13.66, 17.66, 10.12,  9.71, 15.76,  8.97,  9.77, 13.78, 10.86,
       11.  , 10.15,  7.98,  9.27, 13.08, 17.85, 14.44,  6.9 ,  8.07,
        8.15, 10.05, 16.04, 11.05, 10.94, 10.7 ,  9.93, 10.13, 10.48,
        8.29, 12.32,  9.7 , 12.57, 15.21, 10.99, 12.63, 15.53,  8.52,
       13.13, 13.35, 13.72, 10.23,  8.63, 11.61, 13.79, 14.86, 10.2 ,
       12.34,  8.4 , 15.27,  0.39, 14.11, 10.86,  6.87, 15.34,  6.24,
       10.11, 12.93, 15.37,  8.96,  5.48,  9.69,  5.45, 12.3 , 14.86,
       11.09,  6.05, 14.87,  2.35, 12.82, 14.43, 13.19, 11.58, 10.02,
       10.59, 12.89,  0.28, 11.06, 10.89, 10.07, 13.88, 16.55,  1.48,
       12.8 , 10.8 ,  7.88, 13.37, 12.78, 15.45,  8.73,  9.83, 11.72,
       16.05,  8.11, 16.19, 10.21, 10.09, 12.2 , 10.82, 11.37, 12.76,
       10.23, 12.73, 11.07,  8.25,  8.43,  9.37, 15.81, 11.97, 10.2 ,
       14.72, 10.54, 17.87, 13.7 , 14.73, 15.15, 10.75, 11.75,  9.78,
       10.84,  0.36, 17.42,  8.59, 13.2 ,  6.49,  6.  , 13.77,  8.11,
       17.19,  9.82, 11.64,  9.14, 16.53, 10.99,  8.74, 14.21,  9.8 ,
       12.72,  5.34,  7.84,  9.05, 11.47, 14.66, 12.02, 15.89, 12.99,
       11.01,  0.5 , 14.34,  8.26, 14.15,  9.45, 13.05, 10.64, 10.84,
       13.75, 10.82, 13.03,  6.18, 10.17, 12.82, 14.15, 13.83, 11.96,
       13.19, 13.02, 10.37, 10.46, 13.53,  9.63, 10.02, 10.97, 11.58,
       18.19, 11.51,  6.57, 12.21, 11.63, 10.62, 11.29, 17.98, 12.25,
        8.17, 10.79,  0.08, 14.85, 14.52, 17.17, 10.14, 11.15, 10.23,
        8.64, 10.05,  9.24, 12.18, 10.32, 10.43, 13.62, 16.07, 15.24,
        8.47, 12.92, 15.12, 16.98, 13.09, 12.5 , 14.97, 13.74, 15.88,
       12.77, 10.92, 10.83, 13.75, 12.19, 11.43, 16.07,  8.37,  0.34,
       13.03,  9.96])

In [15]:
import sklearn.metrics 
dir(sklearn.metrics)

['ConfusionMatrixDisplay',
 'DetCurveDisplay',
 'DistanceMetric',
 'PrecisionRecallDisplay',
 'RocCurveDisplay',
 'SCORERS',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_base',
 '_classification',
 '_dist_metrics',
 '_pairwise_fast',
 '_plot',
 '_ranking',
 '_regression',
 '_scorer',
 'accuracy_score',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'auc',
 'average_precision_score',
 'balanced_accuracy_score',
 'brier_score_loss',
 'calinski_harabasz_score',
 'check_scoring',
 'classification_report',
 'cluster',
 'cohen_kappa_score',
 'completeness_score',
 'confusion_matrix',
 'consensus_score',
 'coverage_error',
 'd2_tweedie_score',
 'davies_bouldin_score',
 'dcg_score',
 'det_curve',
 'euclidean_distances',
 'explained_variance_score',
 'f1_score',
 'fbeta_score',
 'fowlkes_mallows_score',
 'get_scorer',
 'hamming_loss',
 'hinge_loss',
 'homogeneity_completeness_v_measure',
 'homogeneity_score',
 'jaccard_score',
 'label_ranking_average_precision_score',
 'label_ranking_loss',
 'log_loss',
 'make_scorer',
 'matthews_corrcoef',
 'max_error',
 'mean_absolute_error',
 'mean_absolute_percentage_error',
 'mean_gamma_deviance',
 'mean_pinball_loss',
 'mean_poisson_deviance',
 'mean_squared_error',
 'mean_squared_log_error',
 'mean_tweedie_deviance',
 'median_absolute_error',
 'multilabel_confusion_matrix',
 'mutual_info_score',
 'nan_euclidean_distances',
 'ndcg_score',
 'normalized_mutual_info_score',
 'pair_confusion_matrix',
 'pairwise',
 'pairwise_distances',
 'pairwise_distances_argmin',
 'pairwise_distances_argmin_min',
 'pairwise_distances_chunked',
 'pairwise_kernels',
 'plot_confusion_matrix',
 'plot_det_curve',
 'plot_precision_recall_curve',
 'plot_roc_curve',
 'precision_recall_curve',
 'precision_recall_fscore_support',
 'precision_score',
 'r2_score',
 'rand_score',
 'recall_score',
 'roc_auc_score',
 'roc_curve',
 'silhouette_samples',
 'silhouette_score',
 'top_k_accuracy_score',
 'v_measure_score',
 'zero_one_loss']

In [35]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

In [29]:
# mse
mean_squared_error(Y_train, X_train_pd), mean_squared_error(Y_test, X_test_pd)

(0.2360691881918819, 2.787404411764706)

In [30]:
# mae
mean_absolute_error(Y_train, X_train_pd), mean_absolute_error(Y_test, X_test_pd)

(0.31300738007380075, 1.0451470588235294)

In [31]:
# mape
mean_absolute_percentage_error(Y_train, X_train_pd), mean_absolute_percentage_error(Y_test, X_test_pd)

(208062979094755.03, 615602331417776.0)

In [34]:
# rmse
import numpy as np
np.sqrt(mean_squared_error(Y_train, X_train_pd)), np.sqrt(mean_squared_error(Y_test, X_test_pd))

(14424388.343869386, 24811334.736724183)

In [37]:
# r2
r2_score(Y_train, X_train_pd), r2_score(Y_test, X_test_pd)

(0.9830760783752909, 0.8408613443303042)

In [43]:
x_test_dummies_pd = rfr.predict(x_test_dummies)

In [70]:

df = pd.DataFrame({'StudentID' : x_test.StudentID, 'G3': np.int0(x_test_dummies_pd)})
df.head(250).tail(30)

     StudentID  G3
220       1648  16
221       1650  12
222       1652   8
223       1659   8
224       1660   1
225       1662  15
226       1663  11
227       1665  17
228       1669  10
229       1670   9
230       1672   8
231       1673  13
232       1680  18
233       1681   6
234       1683   8
235       1684  12
236       1685  11
237       1688   8
238       1689  17
239       1690  10
240       1698  15
241       1699   5
242       1700   0
243       1701  12
244       1703   9
245       1707  12
246       1708  14
247       1710  10
248       1712  16
249       1715   4