In [1]:
import pandas as pd
import numpy as np

### 데이터 설명 : 중고차 가격 예측 데이터 (종속변수 :price)

In [58]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")

In [3]:
x_train.head()

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

In [4]:
y_train.head()

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

In [5]:
x_train.isna().sum()

carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [6]:
x_test.isna().sum()

carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [59]:
len(x_train)

4960

In [7]:
drop_col = ['carID']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)

In [9]:
y = y_train.price

In [11]:
x_all = pd.concat([x_train_drop, x_test_drop])

In [12]:
x_train_drop.model.unique()

array([' Santa Fe', ' GTC', ' RS4', ' Scirocco', ' Scala', ' V Class',
       ' Prius', ' M4', ' Camry', ' KA', ' Vivaro', ' CLS Class',
       ' Caravelle', ' Arteon', ' Shuttle', ' I40', ' IX20', ' 6 Series',
       ' GL Class', ' S Class', ' S3', ' Yeti', ' Galaxy', ' Puma',
       ' Edge', ' A8', ' SLK', ' Kamiq', ' RS6', ' CLA Class',
       ' Land Cruiser', ' M Class', ' Q8', ' i3', ' Verso', ' Mustang',
       ' IX35', ' Amarok', ' Avensis', ' Grand Tourneo Connect',
       ' Antara', ' Tourneo Connect', ' Beetle', ' X4', ' CC', ' GT86',
       ' X-CLASS', ' I800', ' i8', ' Caddy Maxi Life', ' Combo Life',
       ' Rapid', ' SQ7', ' Grand C-MAX', ' Tourneo Custom', ' California',
       ' Agila', ' A7', ' Zafira Tourer', ' G Class', ' Tiguan Allspace',
       ' X6', ' M2', ' X7', ' 7 Series', ' Z4', ' RS5', ' Hilux',
       ' GLS Class', ' GLB Class', ' M5', ' RS3', ' Caddy Life', ' SQ5',
       ' Supra', ' 8 Series', ' Fusion', ' M6', ' M3', ' Jetta', ' S4',
       ' R8', ' PROACE VERSO', ' Caddy', ' Getz', ' Eos', ' CLK', ' IQ',
       ' Z3', ' Roomster'], dtype=object)

In [20]:
set(x_train_drop.model) - set(x_test_drop.model)

{' M6'}

In [24]:
x_all.shape, x_train_drop.shape, x_test_drop.shape

((7632, 9), (4960, 9), (2672, 9))

In [26]:
x_all_dummies = pd.get_dummies(x_all)

In [28]:
x_train_dummies = x_all_dummies[:len(x_train_drop)]
x_test_dummies = x_all_dummies[len(x_train_drop):]

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x_train_dummies, y)

In [30]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=42)
rfr.fit(X_train, Y_train)

RandomForestRegressor(random_state=42)

In [33]:
rfr.score(X_train, Y_train), rfr.score(X_test, Y_test)

(0.9931345388575712, 0.9186527328198448)

In [35]:
X_train_pd = rfr.predict(X_train)
X_test_pd = rfr.predict(X_test)
x_test_dummies_pd = rfr.predict(x_test_dummies)

In [43]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

In [38]:
mean_squared_error(Y_train, X_train_pd), mean_squared_error(Y_test, X_test_pd)

(1762875.2131321414, 24891987.980944354)

In [40]:
mean_absolute_error(Y_test, X_test_pd)

2216.4824127236952

In [41]:
mean_absolute_percentage_error(Y_test, X_test_pd)

0.10182248491808209

In [42]:
np.square(mean_absolute_percentage_error(Y_test, X_test_pd))

0.010367818434893055

In [44]:
r2_score(Y_test, X_test_pd)

0.9186527328198448

In [61]:
len(X_train_pd), len(x_train), len(x_train_dummies), len(x_test_dummies), len(x_train_dummies)

(3720, 4960, 4960, 2672, 4960)

In [63]:

x_test['price'] = np.int0(x_test_dummies_pd)
x_test

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,12000,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0,39448
1,12001,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0,23996
2,12004,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0,57896
3,12013,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0,14910
4,12017,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0,50000
...,...,...,...,...,...,...,...,...,...,...,...
2667,19618,audi,A7,2015,Semi-Auto,21100,Petrol,325.0,29.7,4.0,45923
2668,19620,merc,CLS Class,2015,Automatic,60972,Diesel,160.0,52.3,3.0,18594
2669,19626,ford,Puma,2020,Manual,4111,Petrol,145.0,50.4,1.0,20973
2670,19630,merc,CLA Class,2016,Automatic,25726,Petrol,200.0,41.5,2.0,21430
2671,19631,vauxhall,Antara,2007,Automatic,99500,Diesel,565.0,32.8,2.0,4330