### 데이터 출처 : https://bigdata-119.kr/ 데이터 설명 : 소방신고별 신고시각과 출동시각 데이터 컬럼 설명 : 신고일자 (yyyymmdd) / 신고시각 (HHMMSS , 00시 , 00분의 경우 등 생략)

In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   int64
 4   신고시각      2762 non-null   int64
 5   출동일자      2762 non-null   int64
 6   출동시각      2762 non-null   int64
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
dtypes: int64(4), object(5)
memory usage: 194.3+ KB

In [23]:
df.isna().sum()

구급보고서번호     0
소방서명        0
환자증상구분명1    0
신고일자        0
신고시각        0
출동일자        0
출동시각        0
환자직업명       0
사고발생장소      0
dtype: int64

In [30]:
# 각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 
# 초(sec)단위로 구하고 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 
# 3번째로 작은 소요시간의 값과 소방서명을 출력하라

In [28]:
df['소요시간'] = (pd.to_datetime(df.출동일자.astype(str) + df.출동시각.astype(str).str.zfill(6)) - \
pd.to_datetime(df.신고일자.astype(str) + df.신고시각.astype(str).str.zfill(6)) ).dt.total_seconds()
df.head()

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,소요시간
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,162.0
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집,147.0
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설,240.0
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집,571.0
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집,142.0

In [35]:
df.groupby('소방서명')['소요시간'].mean().sort_values().head(3).tail(1)

소방서명
종로소방서    175.5
Name: 소요시간, dtype: float64

### 데이터 출처 :https://kess.kedi.re.kr/contents/dataset 국내 학교 및 학급 인원 수

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   학교명         4960 non-null   object
 1   시도          4960 non-null   object
 2   학교세부유형      4960 non-null   object
 3   일반학급_학생수_계  4960 non-null   int64
 4   교원수_총계_계    4960 non-null   int64
dtypes: int64(2), object(3)
memory usage: 193.9+ KB

In [38]:
df.isna().sum()

학교명           0
시도            0
학교세부유형        0
일반학급_학생수_계    0
교원수_총계_계      0
dtype: int64

In [39]:
# 학교 세부유형이 일반중학교인 학교들 중 
# 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 
# 해당 시도의 교원 한명 당 맡은 학생수가 
# 가장 많은 학교를 찾아서 해당 학교의 교원수를 출력하라
df.head()

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [49]:
sido_name = df[df.학교세부유형 == '일반중학교'].groupby('시도').size().sort_values(ascending=False).index[1]

In [54]:
df_tmp = df[df.시도 == sido_name]
df_tmp['한명당교원수'] = df_tmp.일반학급_학생수_계 / df_tmp.교원수_총계_계
df_tmp

C:\Users\sujung\AppData\Local\Temp\ipykernel_27620\2419532540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['한명당교원수'] = df_tmp.일반학급_학생수_계 / df_tmp.교원수_총계_계

                 학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계     한명당교원수
0    서울대학교사범대학부설고등학교  서울  일반고등학교         689        73   9.438356
1             가락고등학교  서울  일반고등학교         765        70  10.928571
2             개포고등학교  서울  일반고등학교         684        69   9.913043
3             경기고등학교  서울  일반고등학교        1047        96  10.906250
4             경동고등학교  서울  일반고등학교         529        58   9.120690
..               ...  ..     ...         ...       ...        ...
612          동구여자중학교  서울   일반중학교         298        29  10.275862
613          성신여자중학교  서울   일반중학교         590        46  12.826087
614          성암여자중학교  서울   일반중학교         403        32  12.593750
615          창문여자중학교  서울   일반중학교         471        35  13.457143
616          한성여자중학교  서울   일반중학교         374        32  11.687500

[617 rows x 6 columns]

In [60]:
df_tmp[df_tmp.한명당교원수 == df_tmp.한명당교원수.max()].교원수_총계_계

524    33
Name: 교원수_총계_계, dtype: int64

### 대범죄 발생현황 : https://www.data.go.kr/data/15085721/fileData.do#layer_data_infomation & 후처리

In [61]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄분류    24 non-null     object
 1   절도      24 non-null     int64
 2   사기      24 non-null     int64
 3   배임      24 non-null     int64
 4   방화      24 non-null     int64
 5   폭행      24 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.2+ KB

In [63]:
df.isna().sum()

범죄분류    0
절도      0
사기      0
배임      0
방화      0
폭행      0
dtype: int64

In [64]:
# **5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자.
# 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 
# 최대값을 가지는 년도와 분기를 구하고
# 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라
# (1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균) **
df.head()

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [71]:
def dungi(x):
    if x in ['1월', '2월', '3월']:
        return '1분기'
    elif x in ['4월', '5월', '6월']:
        return '2분기'
    elif x in ['7월', '8월', '9월'] : 
        return '3분기'
    elif x in ['10월', '11월', '12월'] :
        return '4분기'
    return

In [ ]:
df['분기'] = df.범죄분류.apply(lambda x : dungi(x.split('_')[1]))

In [93]:
df['년도'] = df.범죄분류.apply(lambda x : x.split('_')[0][:-1])
df.head()

       범죄분류     절도     사기   배임   방화     폭행   분기    년도
0  2018년_1월  13280  25318  656  143  12186  1분기  2018
1  2018년_2월  12504  19159  403  135  12087  1분기  2018
2  2018년_3월  14733  24509  471  148  13841  1분기  2018
3  2018년_4월  14781  23147  414  135  13973  2분기  2018
4  2018년_5월  15988  23584  451  127  14117  2분기  2018

In [97]:
df['총범죄'] = df.절도 + df.사기 + df.배임 + df.방화 + df.폭행
df.head()

       범죄분류     절도     사기   배임   방화     폭행   분기    년도    총범죄
0  2018년_1월  13280  25318  656  143  12186  1분기  2018  51583
1  2018년_2월  12504  19159  403  135  12087  1분기  2018  44288
2  2018년_3월  14733  24509  471  148  13841  1분기  2018  53702
3  2018년_4월  14781  23147  414  135  13973  2분기  2018  52450
4  2018년_5월  15988  23584  451  127  14117  2분기  2018  54267

In [106]:
year = df.groupby(['년도', '분기']).mean().sort_values('총범죄').tail(1).index[0][0]
mon = df.groupby(['년도', '분기']).mean().sort_values('총범죄').tail(1).index[0][1]
year, mon

('2019', '2분기')

In [108]:
df[(df.년도 == year) & (df.분기 == mon)].사기.max()

27766

### 작업 2유형
### 건강 상태 분류문제

#### 예측 변수 General_Health, test.csv에 대해 ID별로 General_Health 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 General_Health 두개만 존재해야함. 평가지표는 f1score

In [158]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

In [113]:
train.isna().sum(), test.isna().sum()

(ID                              0
 General_Health                  0
 Checkup                         0
 Exercise                        0
 Heart_Disease                   0
 Skin_Cancer                     0
 Other_Cancer                    0
 Depression                      0
 Diabetes                        0
 Arthritis                       0
 Sex                             0
 Age_Category                    0
 Height_(cm)                     0
 Weight_(kg)                     0
 BMI                             0
 Smoking_History                 0
 Alcohol_Consumption             0
 Fruit_Consumption               0
 Green_Vegetables_Consumption    0
 FriedPotato_Consumption         0
 dtype: int64,
 ID                              0
 Checkup                         0
 Exercise                        0
 Heart_Disease                   0
 Skin_Cancer                     0
 Other_Cancer                    0
 Depression                      0
 Diabetes                        0
 Arthritis                       0
 Sex                             0
 Age_Category                    0
 Height_(cm)                     0
 Weight_(kg)                     0
 BMI                             0
 Smoking_History                 0
 Alcohol_Consumption             0
 Fruit_Consumption               0
 Green_Vegetables_Consumption    0
 FriedPotato_Consumption         0
 dtype: int64)

In [114]:
train.shape, test.shape

((11230, 20), (4813, 19))

In [159]:
train.General_Health.unique()

array(['Good', 'Excellent', 'Fair'], dtype=object)

In [160]:
drop_col = ['ID', 'General_Health']
train_drop = train.drop(columns= drop_col)
test_drop = test.drop(columns=['ID'])

In [161]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
tg = le.fit_transform(train.General_Health)
# le.inverse_transform(tg)
y = tg

In [163]:
train_drop_dummies = pd.get_dummies(train_drop)
test_drop_dummies = pd.get_dummies(test_drop)
test_drop_dummies = test_drop_dummies.reindex(columns=train_drop_dummies.columns, fill_value=0)

In [164]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

In [165]:
X_train, X_test, y_train, y_test = train_test_split(
    train_drop_dummies, y, test_size = 0.33, random_state=2023
)

In [166]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [167]:
X_train_pd = rf.predict(X_train)
X_test_pd = rf.predict(X_test)
test_drop_dummies_pd = rf.predict(test_drop_dummies)

In [140]:
X_test_pd

array([1, 0, 2, ..., 0, 0, 0])

In [168]:
f1_score(y_test, X_test_pd, average=None)

array([0.68222741, 0.50409165, 0.45503876])

In [169]:
f1_score(y_test, X_test_pd, average='micro')

0.5590933621154884

In [170]:
f1_score(y_test, X_test_pd, average='macro')

0.5471192739513748

In [171]:
le.inverse_transform(test_drop_dummies_pd)

array(['Excellent', 'Excellent', 'Good', ..., 'Fair', 'Fair', 'Excellent'],
      dtype=object)

In [172]:
df = pd.DataFrame({'ID': test.ID, 'General_Health' : le.inverse_transform(test_drop_dummies_pd)})
df

            ID General_Health
0     ID_14547      Excellent
1        ID_26      Excellent
2     ID_14103           Good
3     ID_10946           Good
4      ID_1572      Excellent
...        ...            ...
4808  ID_12991      Excellent
4809  ID_13295           Good
4810   ID_2428           Fair
4811  ID_12719           Fair
4812  ID_12691      Excellent

[4813 rows x 2 columns]

### 작업 3유형

In [174]:
# A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.
# 남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다.
# 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라

In [179]:
df = pd.DataFrame({'sex':['M', 'F'], 'smoking' : [int(600 * 0.2), int(550 * 0.26)], 'non-smoking': [int(600 * 0.8), int(550 * 0.74)]})
df.set_index('sex', inplace=True)
df

     smoking  non-smoking
sex
M        120          480
F        143          407

In [183]:
from scipy.stats import chi2_contingency
chi2, p, dof, expected = chi2_contingency(df)

print('귀무가설 기각')
print('p-value : ', p)

귀무가설 기각
p-value :  0.018786854975740768

In [184]:
# 연령, 몸무게,콜레스테롤 수치 데이터
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [195]:
import statsmodels.api as sm
dir(sm)

['BayesGaussMI',
 'BinomialBayesMixedGLM',
 'Factor',
 'GEE',
 'GLM',
 'GLMGam',
 'GLS',
 'GLSAR',
 'GeneralizedPoisson',
 'Logit',
 'MANOVA',
 'MI',
 'MICE',
 'MICEData',
 'MNLogit',
 'MixedLM',
 'NegativeBinomial',
 'NegativeBinomialP',
 'NominalGEE',
 'OLS',
 'OrdinalGEE',
 'PCA',
 'PHReg',
 'Poisson',
 'PoissonBayesMixedGLM',
 'ProbPlot',
 'Probit',
 'QuantReg',
 'RLM',
 'RecursiveLS',
 'SurvfuncRight',
 'WLS',
 'ZeroInflatedGeneralizedPoisson',
 'ZeroInflatedNegativeBinomialP',
 'ZeroInflatedPoisson',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'add_constant',
 'categorical',
 'cov_struct',
 'datasets',
 'distributions',
 'duration',
 'emplike',
 'families',
 'formula',
 'gam',
 'genmod',
 'graphics',
 'iolib',
 'load',
 'load_pickle',
 'multivariate',
 'nonparametric',
 'qqline',
 'qqplot',
 'qqplot_2samples',
 'regression',
 'robust',
 'show_versions',
 'stats',
 'test',
 'tools',
 'tsa',
 'webdoc']

In [197]:
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [201]:
# age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. 
# age의 회귀 계수를 구하여라

X = sm.add_constant(df[['age', 'Cholesterol']])
model = sm.OLS(df.weight, X)
result = model.fit()

print(result.summary())
print(result.params['age'])

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Fri, 01 Dec 2023   Prob (F-statistic):           0.000608
Time:                        20:37:29   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
-0.0361016691438651

In [203]:
# age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라, 독립이 아니다.
if result.pvalues.Cholesterol < 0.05 :
    print('독립이 아니다. 선형관계에 있다. ')
else:
    print('독립 : 선형관계가 없다')

0.00023778081979582738

In [208]:
# age가 55, Cholesterol가 72.6일때 위 모델을 기반으로 weight값을 예측하라.
result.predict([1, 55, 72.6])[0]

78.85771011344593