### PlayList 파일 전처리

In [3]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.read_csv('data/melon_playlist1_230528.csv')
df2 = pd.read_csv('data/melon_playlist2_230528.csv')
df1.shape, df2.shape

((3098, 5), (119927, 5))

In [3]:
df1.head()

,plylstSeq,title,tag,like,songIds
0,516301214,"빙글빙글 낭만이 물들어가는, LP판 느낌의 감성팝",#낭만 #감성 #LP #힐링 #휴식 #사랑 #분위기 #가을 #추억 #팝,400,33880688 36359244 36148918 35576427 33664280 3...
1,523235480,IVE 멤버들의 추천곡들,#IVE #아이브 #이서 #원영 #레이 #유진 #리즈 #가을,683,33213267 32544401 33502105 33469725 32464068 3...
2,523324194,가을에 듣는 곡들 ༄,#가을 #단풍 #낙엽 #고독 #뉴진스 #아이브 #르세라핌 #NewJeans #IV...,673,354198 5406681 33618864 2425149 4252725 306695...
3,523237139,2023 2 11 아이브 첫 콘서트,#IVE #아이브 #이서 #원영 #헤이 #유진 #리즈 #가을,690,36356992 36356993 36356994 36356995 36356996 3...
4,512333525,"잠 못드는 밤, 무드등켜고 듣기좋은 감성 인디음악",#인디 #가을 #무드등 #센치 #공허함 #새벽 #비오는날 #위로 #감성 #버스,721,35722995 35006084 35006621 31324614 35013205 3...

In [4]:
# 중복 데이터 확인
df1.plylstSeq.nunique()

5521

In [29]:
# tag에 있는 단어들을 찾아 인덱스와 plylstSeq 추출
p1_index =  df1[df1.tag.str.contains('피아노 | 팝송')].index
p_list = df1[df1.tag.str.contains('피아노 | 팝송')].plylstSeq.values

In [30]:
p1_index

Int64Index([  16,   34,   56,   76,   78,   86,  135,  140,  148,  163,
            ...
            5346, 5401, 5451, 5468, 5475, 5481, 5489, 5496, 5498, 5509],
           dtype='int64', length=188)

In [31]:
# playlist2에 있는 같은 plylstSeq 인덱스 찾기
p2_index = []
for pl in p_list:
    p2_index.extend(df2[df2.plylstSeq == pl].index)

In [32]:
len(p1_index), len(p2_index)

(188, 7201)

In [ ]:
p2_index[0]
df2[p2_index[0]]

In [ ]:
# 찾은 인덱스로 행 삭제
df2.drop(df2.index[p2_index], inplace=True)
df1.drop(df1.index[p1_index], inplace=True)

In [124]:
# tag 중 해당 내용이 있으면 삭제하는 함수
def my_drop(keyword):
    df1 = pd.read_csv('data/melon_playlist1_230528.csv')
    df2 = pd.read_csv('data/melon_playlist2_230528.csv')

    p1_index =  df1[df1.tag.str.contains(keyword)].index
    p_list = df1[df1.tag.str.contains(keyword)].plylstSeq.values

    p2_index = []
    for pl in p_list:
        p2_index.extend(df2[df2.plylstSeq == pl].index)

    df1.drop(df1.index[p1_index], inplace=True)
    df2.drop(df2.index[p2_index], inplace=True)

    df1.to_csv('data/melon_playlist1_230528.csv', index=False)
    df2.to_csv('data/melon_playlist2_230528.csv', index=False)

In [100]:
# plylstSeq를 리스트로 주면 해당 행 삭제하는 함수
def my_plylstSeq_drop(plylstSeqs):

    df1 = pd.read_csv('data/melon_playlist1_230528.csv')
    df2 = pd.read_csv('data/melon_playlist2_230528.csv')

    indexs1, indexs2 = [], []
    for ply in plylstSeqs:
        indexs1.extend(df1[df1.plylstSeq == ply].index)
        indexs2.extend(df2[df2.plylstSeq == ply].index)
    
    # print(indexs1)
    df1.drop(df1.index[indexs1], inplace=True)
    df2.drop(df2.index[indexs2], inplace=True)

    df1.to_csv('data/melon_playlist1_230528.csv', index=False)
    df2.to_csv('data/melon_playlist2_230528.csv', index=False)

In [125]:
my_drop('오르골')

df1 = pd.read_csv('data/melon_playlist1_230528.csv')
df2 = pd.read_csv('data/melon_playlist2_230528.csv')
df1.shape, df2.shape

((2329, 5), (91577, 5))

In [101]:
plist = [525089728, 525047952, 525016103, 524838949, 524811141, 524526906, 524360761, 523974487, 523973123, 520452659,
         499771198, 513991159, 499781959, 515595726, 467207219, 524838949, 523974487, 524526906, 456579419, 459530569, 
         525047952, 442008464, 433041258, 510953869, 495820050, 483879398, 491821985, 511782719, 523973123, 524908524,
         456980325, 452926650, 510733869, 523392418, 519621844, 490363946, 522560774, 470149142, 497609706, 457826264, 
         457826262, 479652660, 442812883, 512393450, 506802260
         ]
my_plylstSeq_drop(plist)

df1 = pd.read_csv('data/melon_playlist1_230528.csv')
df2 = pd.read_csv('data/melon_playlist2_230528.csv')
df1.shape, df2.shape

((2333, 5), (96801, 5))

In [128]:
df1 = pd.read_csv('data/year_playlist1_230528.csv')
df2 = pd.read_csv('data/year_playlist2_230528.csv')
print(df1.shape, df2.shape, df1.plylstSeq.nunique(), df2.plylstSeq.nunique())
df2.isna().sum()

(677, 5) (30878, 5) 677 677

plylstSeq    0
songId       0
title        0
artist       0
img          0
dtype: int64

In [127]:
# 찾을 내용이 있는지 알아보기
df1[df1.tag.str.contains('자장가')]

,plylstSeq,title,tag,like,songIds
186,519000623,휴식과 힐링에 좋은 차분한음악,#휴식 #힐링 #차분한 #집중 #자장가 #생각 #독서 #포근한 #잠들기전 #집콕,853,31641233 8077041 30188012 5718650 9623896 5542...
188,505779330,"자기전에 듣는 잔잔한음악 (휴식,힐링)",#잔잔한 #힐링 #생각 #자장가 #피곤 #독서 #침대 #나른한 #편안한 #휴식,836,8174132 8054777 8099936 8030000 7849440 790234...
191,485608732,독서하거나 집중하면서 듣는 뉴에이지,#독서 #집중 #뉴에이지 #일상 #흐린날 #차분한 #생각 #자장가 #잠들기전 #휴식,1518,8030000 7849440 30581474 30188012 8108415 5689...
193,515555556,생각을 정리하면서 듣는 차분한음악,#생각 #차분한 #휴식 #힐링 #집중 #노동요 #일상 #잔잔한 #자장가 #감성,1170,35705821 35369918 35380551 35645973 35569387 3...
400,461716315,내가 듣는 인디 음악 엄선본,#인디 #가요 #잔잔한 #설렘 #사랑노래 #사랑 #달달 #자장가 #설레는,41,3759735 3915755 3759733 4201178 4285746 428574...
1331,485120357,"스르르 잠들게하는, 잔잔한 수면음악",#자장가 #뉴에이지 #나른한 #잔잔한 #차분한 #잠들기전 #침대 #불면증 #편안 ...,78,32678350 32963087 32225411 1608477 32727632 80...
1333,421425249,잠 못이룰 때 틀어놓는 잔잔한 뉴에이지,#자장가 #뉴에이지 #무더운날 #열대야,50,8294284 8300091 8268917 8068588 8288786 816106...
1536,452746546,"자기 전, 이 노래 보내주는 남친 있으면 참 좋겠다.",#발라드 #연인 #사랑 #카페 #매장 #새벽 #자장가 #인디 #로맨틱 #기분전환,4131,31059857 31014897 31058079 31430239 3714473 79...
1765,486437638,별이 반짝이는 밤하늘 아래에서 듣기 좋은 노래,#별 #밤 #아이돌 #새벽 #감성 #휴식 #몽환적인 #자장가 #무브리디제이,50,31123630 31737198 34481077 33450426 32981144 3...
2097,434840656,"쉬고싶은날,마음을 달래주는 음악",#휴식 #집중 #자장가 #바람 #여행 #하늘 #맑은 #기분좋은 #뉴에이지 #집,780,7849440 30581474 34102412 5689910 4746428 5542...
2183,457726173,반려동물과 함께 듣는 자장가 100곡,#새벽 #자장가 #반려동물 #감성 #발라드 #아이유 #지하철 #사랑 #뉴에이지 #이별,62,30378157 8089967 4543502 8167278 3910821 29400...

In [129]:
df2.head()

,plylstSeq,songId,title,artist,img
0,419259084,32159598,이혼서류,기리보이,https://cdnimg.melon.co.kr/cm2/album/images/10...
1,419259084,32479576,GONE (Feat. Paloalto) (Prod. TOIL),"릴러말즈 (Leellamarz), TOIL",https://cdnimg.melon.co.kr/cm2/album/images/10...
2,419259084,33054789,Apollo 11 (Feat. 박재범),JAMIE (제이미),https://cdnimg.melon.co.kr/cm2/album/images/10...
3,419259084,31700065,Like Me (Prod. Mokyo),pH-1,https://cdnimg.melon.co.kr/cm/album/images/102...
4,419259084,33096515,"Jam & Butterfly (Feat. Crush, eaJ)",DPR LIVE,https://cdnimg.melon.co.kr/cm2/album/images/10...

In [64]:
# 문장에 한글이 있는지 알아보기
import re
text = 'SKYLINE Loving You Girl (Feat. Hkeem)'
if re.search('[ㄱ-ㅎㅏ-ㅣ가-힣]', text):
    print('find 한글')

In [130]:
# 한글이 있는지 검사해서 없는 plylstSeq 만 추출
isHan = 0
for ply in df1.plylstSeq.values:
    isHan = 0
    # df2[df2.plylstSeq == ply][['title', 'artist']]
    for ply2 in df2[df2.plylstSeq == ply][['title', 'artist']].values:
        # print(' '.join(ply2))
        if re.search('[ㄱ-ㅎㅏ-ㅣ가-힣]', ' '.join(ply2)):
            isHan = 1
            break
    if not isHan: print(ply, end=', ')

101606756, 466034240,

### 플레이 리스트들 합치기

In [143]:
df_p1 = pd.read_csv('data/melon_playlist1_230528.csv')
df_p2 = pd.read_csv('data/melon_playlist2_230528.csv')

df_ost_p1 = pd.read_csv('data/ost_playlist1_230528.csv')
df_ost_p2 = pd.read_csv('data/ost_playlist2_230528.csv')

df_year_p1 = pd.read_csv('data/year_playlist1_230528.csv')
df_year_p2 = pd.read_csv('data/year_playlist2_230528.csv')

df_genre_p1 = pd.read_csv('data/genre_playlist1_230528.csv')
df_genre_p2 = pd.read_csv('data/genre_playlist2_230528.csv')

df_p1.shape, df_p2.shape, df_ost_p1.shape, df_ost_p2.shape, df_year_p1.shape, df_year_p2.shape, df_genre_p1.shape, df_genre_p2.shape

((2329, 5),
 (91577, 5),
 (819, 5),
 (37742, 5),
 (677, 5),
 (30878, 5),
 (1034, 5),
 (48424, 5))

In [148]:
df1 = pd.concat([df_p1, df_ost_p1, df_year_p1, df_genre_p1])
df2 = pd.concat([df_p2, df_ost_p2, df_year_p2, df_genre_p2])
df1.shape, df1.plylstSeq.nunique(), df2.shape, df2.plylstSeq.nunique()

((4859, 5), 3845, (208621, 5), 3845)

In [149]:
df2.info(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208621 entries, 0 to 48423
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   plylstSeq  208621 non-null  int64
 1   songId     208621 non-null  int64
 2   title      208621 non-null  object
 3   artist     208621 non-null  object
 4   img        208621 non-null  object
dtypes: int64(2), object(3)
memory usage: 9.5+ MB

In [150]:
df1.drop_duplicates(subset=['plylstSeq'], inplace=True)
df2.drop_duplicates(subset=['plylstSeq', 'songId'], inplace=True)
df1.shape, df1.plylstSeq.nunique(), df2.shape, df2.plylstSeq.nunique()

((3845, 5), 3845, (160459, 5), 3845)

In [151]:
df2.head()

,plylstSeq,songId,title,artist,img
0,523235480,33213267,Love Song,Why Don't We,https://cdnimg.melon.co.kr/cm2/album/images/10...
1,523235480,32544401,Ghost In A Flower,Yorushika,https://cdnimg.melon.co.kr/cm2/album/images/10...
2,523235480,33502105,Every Second,Mina Okabe,https://cdnimg.melon.co.kr/cm2/album/images/10...
3,523235480,33469725,Loving You Girl (Feat. Hkeem),Peder Elias,https://cdnimg.melon.co.kr/cm2/album/images/10...
4,523235480,32464068,SKYLINE,김세정,https://cdnimg.melon.co.kr/cm2/album/images/10...

In [152]:
# 한글이 있는지 검사해서 없는 plylstSeq 만 추출
isHan = 0
for ply in df1.plylstSeq.values:
    isHan = 0
    # df2[df2.plylstSeq == ply][['title', 'artist']]
    for ply2 in df2[df2.plylstSeq == ply][['title', 'artist']].values:
        # print(' '.join(ply2))
        if re.search('[ㄱ-ㅎㅏ-ㅣ가-힣]', ' '.join(ply2)):
            isHan = 1
            break
    if not isHan: print(ply, end=', ')

446586218, 421116835, 457897578, 101606756, 466034240, 450629235, 422063596, 100098178, 442537354, 418050902,

In [ ]:
df1.to_csv('data/melon_playlist1.csv', index=False)
df2.to_csv('data/melon_playlist2.csv', index=False)