In [98]:
import numpy as np
import pandas as pd

### 1. songs 합치기

In [99]:
filename1 = 'data/melon_genre_ost_230527.csv'
filename2 = 'data/melon_year_concat.csv'
filename3 = 'data/melon_genre.csv'
plist_filename1 = 'data/melon_playlist1.csv'
plist_filename2 = 'data/melon_playlist2.csv'

In [100]:
df1 = pd.read_csv(filename1)
df2 = pd.read_csv(filename2)
df3 = pd.read_csv(filename3)
plist1 = pd.read_csv(plist_filename1)
plist2 = pd.read_csv(plist_filename2)
df1.shape, df2.shape, df3.shape, plist1.shape, plist2.shape

((1330, 13), (2264, 13), (3845, 13), (3845, 5), (160459, 5))

In [101]:
df2.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
0,4083218,내일또 만납시다,금호동,성인가요/트로트,여인을 못잊어/그정 못잊어,전우,박춘석,20130401.0,https://cdnimg.melon.co.kr/cm/album/images/021...,13,263,하루의 일을 끝내고 돌아가는\n거리엔 사람의 물결\n하늘엔 별이 하나 둘 반짝이면\...,460454132 518268022

In [102]:
df = pd.concat([df1, df2, df3])

In [103]:
df.shape, df.songId.nunique()

((7439, 13), 6247)

In [104]:
df.drop_duplicates(subset=['songId'], inplace=True)

In [113]:
df.shape, df.songId.nunique()

((6247, 13), 6247)

In [105]:
df.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
0,418168,희재,성시경,발라드 국내영화,국화꽃 향기 OST,양재선,MGR,20030201.0,https://cdnimg.melon.co.kr/cm/album/images/000...,332,138267,햇살은 우릴 위해 내리고 \n바람도 서롤 감싸게 했죠 \n우리 웃음속에 계절은 오고...,445029956 411111859

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6247 entries, 0 to 3844
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   songId     6247 non-null   int64
 1   title      6247 non-null   object
 2   artist     6247 non-null   object
 3   genre      6245 non-null   object
 4   album      6247 non-null   object
 5   lyricist   5849 non-null   object
 6   composer   5845 non-null   object
 7   date       6202 non-null   float64
 8   img        6247 non-null   object
 9   comment    6247 non-null   int64
 10  like       6247 non-null   object
 11  lyric      6242 non-null   object
 12  plylstSeq  6126 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 683.3+ KB

In [107]:
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date          45
img            0
comment        0
like           0
lyric          5
plylstSeq    121
dtype: int64

In [108]:
df.date.fillna(0, inplace=True)
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date           0
img            0
comment        0
like           0
lyric          5
plylstSeq    121
dtype: int64

In [109]:
df.date = df.date.astype(int).astype(str)

In [110]:
df.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
0,418168,희재,성시경,발라드 국내영화,국화꽃 향기 OST,양재선,MGR,20030201,https://cdnimg.melon.co.kr/cm/album/images/000...,332,138267,햇살은 우릴 위해 내리고 \n바람도 서롤 감싸게 했죠 \n우리 웃음속에 계절은 오고...,445029956 411111859

In [111]:
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date           0
img            0
comment        0
like           0
lyric          5
plylstSeq    121
dtype: int64

In [112]:
df[df.lyric.isna()]

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
607,1951550,붉은 노을,BIGBANG (빅뱅),댄스 랩/힙합,Remember,이영훈,G-DRAGON,20081105,https://cdnimg.melon.co.kr/cm/album/images/004...,310,73699,NaN,442706386 100098263
2547,1754584,혜성,윤하 (YOUNHA),록/메탈,혜성,EMA SATOU,Nao Tanaka,20071023,https://cdnimg.melon.co.kr/cm/album/images/003...,125,49147,NaN,442706386 434150864
2562,1357461,나는 나비,YB (윤도현 밴드),록/메탈,Why Be?,박태희,박태희,20060810,https://cdnimg.melon.co.kr/cm/album/images/003...,93,56907,NaN,405285190 510682137
2656,3108907,비밀 (Special Vocal. 박완규),부활,록/메탈,부활 Collaboration Project '+ (plus)' / +1,김태원,김태원,20110117,https://cdnimg.melon.co.kr/cm/album/images/011...,94,29063,NaN,445029956 101516705
3230,1888933,"날 봐, 귀순",대성,성인가요/트로트,"날 봐, 귀순 (Digital Single)",G-DRAGON,G-DRAGON,20080616,https://cdnimg.melon.co.kr/cm/album/images/003...,71,9419,NaN,425182189 425524406