In [16]:
import numpy as np
import pandas as pd

### 1. songs 합치기

In [17]:
filename1 = 'data/melon_genre_ost_230527.csv'
filename2 = 'data/melon_year_concat.csv'
filename3 = 'data/melon_genre.csv'
plist_filename1 = 'data/melon_playlist1.csv'
plist_filename2 = 'data/melon_playlist2.csv'

In [18]:
df1 = pd.read_csv(filename1)
df2 = pd.read_csv(filename2)
df3 = pd.read_csv(filename3)
plist1 = pd.read_csv(plist_filename1)
plist2 = pd.read_csv(plist_filename2)
df1.shape, df2.shape, df3.shape, plist1.shape, plist2.shape

((1330, 13), (2264, 13), (3845, 13), (3845, 5), (160459, 5))

In [19]:
df2.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
0,4083218,내일또 만납시다,금호동,성인가요/트로트,여인을 못잊어/그정 못잊어,전우,박춘석,20130401.0,https://cdnimg.melon.co.kr/cm/album/images/021...,13,263,하루의 일을 끝내고 돌아가는\r\n거리엔 사람의 물결\r\n하늘엔 별이 하나 둘 반...,460454132 518268022

In [20]:
df = pd.concat([df1, df2, df3])

In [21]:
df.shape, df.songId.nunique()

((7439, 13), 6247)

In [22]:
df.drop_duplicates(subset=['songId'], inplace=True)

In [23]:
df.shape, df.songId.nunique()

((6247, 13), 6247)

In [24]:
df.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
0,418168,희재,성시경,발라드 국내영화,국화꽃 향기 OST,양재선,MGR,20030201.0,https://cdnimg.melon.co.kr/cm/album/images/000...,332,138267,햇살은 우릴 위해 내리고 \r\n바람도 서롤 감싸게 했죠 \r\n우리 웃음속에 계절...,445029956 411111859

In [25]:
df.lyric = df.lyric.str.replace('\r', '')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6247 entries, 0 to 3844
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   songId     6247 non-null   int64
 1   title      6247 non-null   object
 2   artist     6247 non-null   object
 3   genre      6245 non-null   object
 4   album      6247 non-null   object
 5   lyricist   5849 non-null   object
 6   composer   5845 non-null   object
 7   date       6202 non-null   float64
 8   img        6247 non-null   object
 9   comment    6247 non-null   int64
 10  like       6247 non-null   int64
 11  lyric      6247 non-null   object
 12  plylstSeq  6126 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 683.3+ KB

In [27]:
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date          45
img            0
comment        0
like           0
lyric          0
plylstSeq    121
dtype: int64

In [108]:
df.date.fillna(0, inplace=True)
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date           0
img            0
comment        0
like           0
lyric          5
plylstSeq    121
dtype: int64

In [109]:
df.date = df.date.astype(int).astype(str)

In [110]:
df.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
0,418168,희재,성시경,발라드 국내영화,국화꽃 향기 OST,양재선,MGR,20030201,https://cdnimg.melon.co.kr/cm/album/images/000...,332,138267,햇살은 우릴 위해 내리고 \n바람도 서롤 감싸게 했죠 \n우리 웃음속에 계절은 오고...,445029956 411111859

In [111]:
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date           0
img            0
comment        0
like           0
lyric          5
plylstSeq    121
dtype: int64

In [28]:
df[df.lyric.isna()]

Empty DataFrame
Columns: [songId, title, artist, genre, album, lyricist, composer, date, img, comment, like, lyric, plylstSeq]
Index: []

In [29]:
df.to_csv('data/melon_song.csv', index=False)

In [32]:
df = pd.read_csv('data/melon_song.csv')
df.head()

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
0,418168,희재,성시경,발라드 국내영화,국화꽃 향기 OST,양재선,MGR,20030201.0,https://cdnimg.melon.co.kr/cm/album/images/000...,332,138267,햇살은 우릴 위해 내리고 \n바람도 서롤 감싸게 했죠 \n우리 웃음속에 계절은 오고...,445029956 411111859
1,35609035,인생은 뷰티풀,김호중,발라드 국내영화,인생은 뷰티풀: 비타돌체,김호중,김호중,20220907.0,https://cdnimg.melon.co.kr/cm2/album/images/11...,197,17322,하나만 알고 둘은\n잘 모르는 사람입니다\n하루는 비틀거리고\n하루는 뒤뚱거리고\n...,457536944 474137187
2,1046278,서쪽 하늘,이승철,발라드 국내영화,청연 OST,이승철,윤명선,20051220.0,https://cdnimg.melon.co.kr/cm/album/images/003...,84,48109,서쪽하늘로 노을은 지고 \n이젠 슬픔이 돼버린 그대를 \n다시 부를수 없을 것 ...,426571097 405285190
3,35609034,슬픈등,김호중,발라드 국내영화,인생은 뷰티풀: 비타돌체,김호중,김호중,20220907.0,https://cdnimg.melon.co.kr/cm2/album/images/11...,145,15389,누군가를 다시 만난다면\n여전히 나는 너를\n누군가를 다시 사랑하면\n영원히 나는 ...,457536944 515278519
4,35728845,고백 (영화 '동감' X 츄 (이달의 소녀)),츄(Chuu),록/메탈 국내영화,고백 (영화 '동감' X 츄 (이달의 소녀)),강현민,강현민,20221016.0,https://cdnimg.melon.co.kr/cm2/album/images/11...,80,16902,말해야 하는데 네 앞에 서면\n아무 말 못 하는 내가 미워져\n용기를 내야 해 후회...,484732185 513801514