In [3]:
import numpy as np
import pandas as pd

In [5]:
filename1 = 'data/melon_genre_ost_230527.csv'
filename2 = 'data/melon_year_concat.csv'
filename3 = 'data/melon_genre.csv'
plist_filename1 = 'data/melon_playlist1.csv'
plist_filename2 = 'data/melon_playlist2.csv'

In [6]:
df1 = pd.read_csv(filename1)
df2 = pd.read_csv(filename2)
df3 = pd.read_csv(filename3)
plist1 = pd.read_csv(plist_filename1)
plist2 = pd.read_csv(plist_filename2)
df1.shape, df2.shape, df3.shape, plist1.shape, plist2.shape

((1330, 13), (2264, 13), (3845, 13), (3845, 5), (160459, 5))

In [7]:
df = pd.concat([df1, df2, df3])
df.drop_duplicates(subset=['songId'], inplace=True)
df.date.fillna(0, inplace=True)
df.date = df.date.astype(int).astype(str)
df.shape, df.songId.nunique()

((6247, 13), 6247)

In [9]:
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date           0
img            0
comment        0
like           0
lyric          5
plylstSeq    121
dtype: int64

In [ ]:
for val in df.genre.unique():
    print(val)

In [27]:
# 장르별 노래 총합
df.pivot_table('songId', 'genre', aggfunc='count').sort_values('songId', ascending=False).head(10)

             songId
genre
발라드             957
성인가요/트로트        819
댄스              692
랩/힙합            473
국내뮤지컬           472
록/메탈            467
R&B/Soul        458
발라드 국내드라마       350
포크/블루스          295
인디음악 포크/블루스     275

In [32]:
# 발매년도별 노래 총합
df['year'] = df.date.str[:4]

In [33]:

df.pivot_table('songId', 'year', aggfunc='count').sort_values('songId', ascending=False).head(10)

      songId
year
2023     677
2022     648
2021     464
2020     394
2019     334
2017     240
2018     234
2016     228
2010     153
2015     150

In [34]:
df.columns

Index(['songId', 'title', 'artist', 'genre', 'album', 'lyricist', 'composer',
       'date', 'img', 'comment', 'like', 'lyric', 'plylstSeq', 'year'],
      dtype='object')

In [ ]:
plist1.songIds

In [50]:
# songId 별로 playlist 에 들어있는 개수
df['p_count'] = df.songId.apply(lambda x : len(plist1[plist1.songIds.str.contains(str(x))]))

In [62]:
# playlist에 가장 많이 들어가 있는 곡은? 
df.sort_values('p_count', ascending=False)[['songId', 'title', 'artist', 'genre', 'comment', 'like', 'year', 'p_count']].head(20)

,songId,title,artist,genre,comment,like,year,p_count
1100,9390,Doc와 춤을,DJ DOC,댄스,44,14328,2000,144
1775,3743,그런 일은,박화요비,R&B/Soul,195,58243,2000,117
1275,7712,당신은 모르실거야 (CF - LIG 핑클편),핑클 (Fin.K.L),발라드,18,4504,2001,113
358,32491274,아로하,조정석,발라드 국내드라마,1362,245265,2020,107
1235,3680,너를 위해,임재범,발라드,15,11306,2000,106
504,35945927,Ditto,NewJeans,댄스,3121,257135,2022,93
2240,35454426,Hype boy,NewJeans,댄스,2123,263943,2022,91
2020,30314784,밤편지,아이유,발라드,2461,455469,2017,88
498,36356993,I AM,IVE (아이브),댄스,2604,156948,2023,88
1281,8302,내게 오는 길,성시경,발라드,136,108198,2001,85
2243,35546497,After LIKE,IVE (아이브),댄스,3557,228833,2022,85
355,30190630,첫눈처럼 너에게 가겠다,에일리(Ailee),발라드 국내드라마,1104,350646,2017,84
1302,8290,처음처럼,성시경,발라드,31,8913,2001,84
520,35931532,Candy,NCT DREAM,댄스,7254,150716,2022,83
347,34657844,사랑인가 봐,멜로망스,발라드 국내드라마,259,185768,2022,81
506,35985167,OMG,NewJeans,댄스,1729,181001,2023,80
2228,34847378,LOVE DIVE,IVE (아이브),댄스,2737,235956,2022,79
2242,35454425,Attention,NewJeans,댄스,2592,223359,2022,79
359,8203900,너였다면,정승환,발라드 국내드라마,364,235012,2016,76
63,3890826,All For You,서인국,발라드,195,177250,2012,76

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6247 entries, 0 to 3844
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   songId     6247 non-null   int64
 1   title      6247 non-null   object
 2   artist     6247 non-null   object
 3   genre      6245 non-null   object
 4   album      6247 non-null   object
 5   lyricist   5849 non-null   object
 6   composer   5845 non-null   object
 7   date       6247 non-null   object
 8   img        6247 non-null   object
 9   comment    6247 non-null   int64
 10  like       6247 non-null   object
 11  lyric      6242 non-null   object
 12  plylstSeq  6126 non-null   object
 13  year       6247 non-null   object
 14  p_list     6247 non-null   int64
 15  p_count    6247 non-null   int64
dtypes: int64(4), object(12)
memory usage: 829.7+ KB

In [82]:
import re

for i in df.like.values:
    if re.search('[^0-9]', str(i)):
        print(i)

총건수
											0

In [ ]:
df[df.like.str.contains('\t')][['songId', 'like']]

In [ ]:
df.like = df.like.astype(int)

In [ ]:
# 좋아요가 가장 많이 들어가 있는 곡은? 
# df.sort_values('like', ascending=False)[['songId', 'title', 'artist', 'genre', 'comment', 'like', 'year', 'p_count']].head(20)
df.sort_values('like')