In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'data/melon_song_v2.csv'
plist_filename1 = 'data/melon_playlist1.csv'
plist_filename2 = 'data/melon_playlist2_v2.csv'

In [3]:
df = pd.read_csv(filename)
plist1 = pd.read_csv(plist_filename1)
plist2 = pd.read_csv(plist_filename2)
df.shape, plist1.shape, plist2.shape

((6247, 14), (3845, 5), (60271, 4))

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6247 entries, 0 to 6246
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   songId     6247 non-null   int64
 1   title      6247 non-null   object
 2   artist     6247 non-null   object
 3   genre      6245 non-null   object
 4   album      6247 non-null   object
 5   lyricist   5849 non-null   object
 6   composer   5845 non-null   object
 7   date       6247 non-null   int64
 8   img        6247 non-null   object
 9   comment    6247 non-null   int64
 10  like       6247 non-null   int64
 11  lyric      6247 non-null   object
 12  plylstSeq  6126 non-null   object
 13  total      6247 non-null   object
dtypes: int64(4), object(10)
memory usage: 683.4+ KB

In [5]:
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date           0
img            0
comment        0
like           0
lyric          0
plylstSeq    121
total          0
dtype: int64

In [ ]:
df.head()

In [8]:
plist2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160459 entries, 0 to 160458
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   plylstSeq  160459 non-null  int64
 1   songId     160459 non-null  int64
 2   title      160459 non-null  object
 3   artist     160459 non-null  object
 4   img        160459 non-null  object
dtypes: int64(2), object(3)
memory usage: 6.1+ MB

In [7]:
plist1.plylstSeq = plist1.plylstSeq.astype(str)
plist2.songId = plist2.songId.astype(str)

df.date.fillna(0, inplace=True)
df.date = df.date.astype(int).astype(str)
df.songId = df.songId.astype(str)
df.fillna('', inplace=True)
df.lyric = df.lyric.str.replace('\r', '')
df.head()

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq,total
0,418168,희재,성시경,발라드 국내영화,국화꽃 향기 OST,양재선,MGR,20030201,https://cdnimg.melon.co.kr/cm/album/images/000...,332,138267,햇살은 우릴 위해 내리고 \n바람도 서롤 감싸게 했죠 \n우리 웃음속에 계절은 오고...,445029956 411111859,햇살 우릴 위해 내리다 바람 서 롤 감싸다 하다 우리 웃음 속 계절 오다 또 가다 ...
1,35609035,인생은 뷰티풀,김호중,발라드 국내영화,인생은 뷰티풀: 비타돌체,김호중,김호중,20220907,https://cdnimg.melon.co.kr/cm2/album/images/11...,197,17322,하나만 알고 둘은\n잘 모르는 사람입니다\n하루는 비틀거리고\n하루는 뒤뚱거리고\n...,457536944 474137187,하나 만 고 둘 자다 모르다 사람 이다 하루 비틀 거리 고 하루 뒤뚱거리 고 월요일...
2,1046278,서쪽 하늘,이승철,발라드 국내영화,청연 OST,이승철,윤명선,20051220,https://cdnimg.melon.co.kr/cm/album/images/003...,84,48109,서쪽하늘로 노을은 지고 \n이젠 슬픔이 돼버린 그대를 \n다시 부를수 없을 것 ...,426571097 405285190,서쪽하늘 노을 지고 젠 슬픔 돼다 버리다 그대 다시 부르다 없다 같다 또 한번 불다...
3,35609034,슬픈등,김호중,발라드 국내영화,인생은 뷰티풀: 비타돌체,김호중,김호중,20220907,https://cdnimg.melon.co.kr/cm2/album/images/11...,145,15389,누군가를 다시 만난다면\n여전히 나는 너를\n누군가를 다시 사랑하면\n영원히 나는 ...,457536944 515278519,누군가 다시 만나다 여전하다 나 너 누군가 다시 사랑 하다 영원하다 나 너 다시 또...
4,35728845,고백 (영화 '동감' X 츄 (이달의 소녀)),츄(Chuu),록/메탈 국내영화,고백 (영화 '동감' X 츄 (이달의 소녀)),강현민,강현민,20221016,https://cdnimg.melon.co.kr/cm2/album/images/11...,80,16902,말해야 하는데 네 앞에 서면\n아무 말 못 하는 내가 미워져\n용기를 내야 해 후회...,484732185 513801514,말 하다 하다 네 앞 서면 아무 말 못 하다 내 가 미우다 용기 내야 해 후회 하다...

In [8]:
plist2.head()

,songId,title,artist,img
0,33213267,Love Song,Why Don't We,https://cdnimg.melon.co.kr/cm2/album/images/10...
1,32544401,Ghost In A Flower,Yorushika,https://cdnimg.melon.co.kr/cm2/album/images/10...
2,33502105,Every Second,Mina Okabe,https://cdnimg.melon.co.kr/cm2/album/images/10...
3,33469725,Loving You Girl (Feat. Hkeem),Peder Elias,https://cdnimg.melon.co.kr/cm2/album/images/10...
4,32464068,SKYLINE,김세정,https://cdnimg.melon.co.kr/cm2/album/images/10...

In [36]:
# plist2 = plist2[['songId', 'title', 'artist', 'img']]
# print(plist2.shape, plist2.songId.nunique())
# plist2.drop_duplicates(subset=['songId'], inplace=True)
# print(plist2.shape, plist2.songId.nunique())
# plist2.head()

(60271, 4) 60271
(60271, 4) 60271

,songId,title,artist,img
0,33213267,Love Song,Why Don't We,https://cdnimg.melon.co.kr/cm2/album/images/10...
1,32544401,Ghost In A Flower,Yorushika,https://cdnimg.melon.co.kr/cm2/album/images/10...
2,33502105,Every Second,Mina Okabe,https://cdnimg.melon.co.kr/cm2/album/images/10...
3,33469725,Loving You Girl (Feat. Hkeem),Peder Elias,https://cdnimg.melon.co.kr/cm2/album/images/10...
4,32464068,SKYLINE,김세정,https://cdnimg.melon.co.kr/cm2/album/images/10...

In [12]:
# melon_song에 들어있는 songId가 플레이리스트에 포함되어 있는 수
# 60271 - 5947 = 54324 개의 노래는 melon_song 데이터에 없다.
# df_song_list = df.songId.values
# plist2[plist2.songId.isin(df_song_list)].shape

(5947, 4)

### 1. 찾을 노래 제목과 아티스트 입력 받기

In [78]:
# 키워드 바꿔가면서 찾아보기
import string, re
print(string.punctuation)

# 에잇(Prod.&Feat. SUGA of BTS)
# 아이유


keyword_title = '에잇(Prod.&Feat. SUGA of BTS)'
keyword_artist = '아이유'
keyword_title = re.sub('['+string.punctuation+']', '', keyword_title)
keyword_artist = re.sub('['+string.punctuation+']', '', keyword_artist)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [79]:
# keyword_title = keyword_title.replace(' ', '|')
# keyword_artist = keyword_artist.replace(' ', '&')
print(keyword_title, keyword_artist)

에잇ProdFeat SUGA of BTS 아이유

In [47]:
names = ['jack', 'bob', 'WAT.SON', 'jake', 'mike', 'don', 'george', 'natasha', 'jill', 'ann', 'JOHN\'', 'johnSON']
print(names)
# ser = pd.Series(names)
ser = pd.DataFrame(names, columns=['ser'])

keyword = 'SO.N'.lower()
keyword = re.sub('['+string.punctuation+']', '', keyword)
print(keyword)

ser[ser.ser.str.lower().str.replace('['+string.punctuation+']','').str.contains(keyword)]

['jack', 'bob', 'WAT.SON', 'jake', 'mike', 'don', 'george', 'natasha', 'jill', 'ann', "JOHN'", 'johnSON']
son

        ser
2   WAT.SON
11  johnSON

In [80]:
songIds = df[df.title.str.replace('['+string.punctuation+']','', regex=True).str.contains(keyword_title, case=False)
              & df.artist.str.replace('['+string.punctuation+']','', regex=True).str.contains(keyword_artist, case=False)]
songIds

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq,total
3435,32578498,에잇(Prod.&Feat. SUGA of BTS),아이유,록/메탈,에잇,아이유,SUGA,20200506,https://cdnimg.melon.co.kr/cm2/album/images/10...,10041,392210,So are you happy now\nFinally happy now are yo...,478102836 411111859,So are you happy now Finally happy now are you...

In [67]:
# 노래 제목과 가수로 찾기
songIds = df[df.title.str.lower().str.replace('['+string.punctuation+']','').str.contains(keyword_title)
              & df.artist.str.lower().str.replace('['+string.punctuation+']','').str.contains(keyword_artist)]
songIds

Empty DataFrame
Columns: [songId, title, artist, genre, album, lyricist, composer, date, img, comment, like, lyric, plylstSeq, total]
Index: []

In [15]:
# 첫번째 songId로 검색해 보기 위해(원하는 것은 사용자가 선택하도록)
songId = songIds.songId.values[0]
songIds

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
53,35561629,"아무 일도, 아무것도",송이한,발라드 국내영화,"아무 일도, 아무것도 (뷰티풀 모먼트 OST 스페셜 트랙)",이기환,이기환,20220828,https://cdnimg.melon.co.kr/cm2/album/images/11...,2,1100,따듯했던 그날 속에 우리는\n차가워진 흔적들로 남아\n지우려 하면 할수록 다시\n반...,401004189 500439113
234,35725437,"아무 일도, 아무것도",송이한,발라드 국내영화,뷰티풀 모먼트 OST,이기환,이기환,20221014,https://cdnimg.melon.co.kr/cm2/album/images/11...,0,49,따듯했던 그날 속에 우리는\n차가워진 흔적들로 남아\n지우려 하면 할수록 다시\n반...,

In [16]:
# 플레이리스트1에서  해당 songId가 들어가 있는 데이터프레임 추출
# 넘겨받는 데이터가 하나도 없을 경우 처리
plist1[plist1.songIds.str.contains(songId)]

,plylstSeq,title,tag,like,songIds
222,500439113,이별 후 남자들이 노래방에서 목 놓아 부르는 발라드,#이별 #발라드 #남자노래방 #노래방 #애창곡 #사랑 #슬픈 #헤어짐 #록발라드 ...,1521,313556 36180700 35890454 34326186 505380 32059...
763,401004189,센치해지고 싶을 때 듣는 감성적인 곡,#센치 #발라드 #감성적인 #이별 #사랑 #먹먹해지는 #감성 #가요,2707,35826045 35757406 35915845 35766146 35730698 3...
3606,498344924,잔잔한 남자 인디_발라드,#발라드 #감성 #감미로운 #남자보컬 #노래방 #잔잔한 #비오는날 #드라이브 #새...,112,36410581 36370396 36350275 35505758 36334401 3...

In [17]:
# 가장 많이 들어간 tag 찾기
tags = np.unique(' '.join(plist1[plist1.songIds.str.contains(songId)]['tag'].values).split(), return_counts=True)

In [18]:
df_tags = pd.DataFrame({'tag' : tags[0], 'count' : tags[1]})
df_tags.head()

     tag  count
0    #가요      1
1    #가을      1
2  #감미로운      1
3    #감성      2
4  #감성적인      1

In [19]:
str_tags = ' '.join(df_tags.sort_values('count', ascending=False).head(2)['tag'])
str_tags

'#발라드 #감성'

In [20]:
# 플레이리스트에서 songIds 값들을 합쳐 자기자신은 지우고 리스트로 분리
# 가장 많이 들어가 songId 찾기
songs = np.unique(' '.join(plist1[plist1.songIds.str.contains(songId)]['songIds'].values).replace(songId, '').split(), return_counts=True)

In [21]:
df_songs = pd.DataFrame({'songId' : songs[0], 'count' : songs[1]})

In [22]:
song_list = df_songs.sort_values('count', ascending=False).head(5)['songId'].values
song_list

array(['35826045', '35690841', '35692347', '35331651', '35662930'],
      dtype=object)

In [25]:
# 해당 songId 들 정보 출력
# 나중에 to_dict()로 반환
# 없으면 플레이리스트2에 있는 songId 에서 정보 가져오기
if df[df.songId.isin(song_list)][['songId', 'title', 'artist', 'genre', 'album', 'lyricist', 'composer']].empty:
    tmp = plist2[plist2.songId.isin(song_list)]

tmp

,songId,title,artist,img
2777,35331651,이런 남자,한동근,https://cdnimg.melon.co.kr/cm2/album/images/10...
30826,35662930,우연히 마주친다면,노틸러스,https://cdnimg.melon.co.kr/cm2/album/images/11...
32051,35826045,너야,주호,https://cdnimg.melon.co.kr/cm2/album/images/11...
32058,35690841,친구보다 더 못한 사이,정동원,https://cdnimg.melon.co.kr/cm2/album/images/11...
32060,35692347,낮의 별,박제업,https://cdnimg.melon.co.kr/cm2/album/images/11...